<div class="footer-container">
    <div class="footer">
        <a routerLink="imprint">Impressum</a>
        <a routerLink="dataprotection">Datenschutz</a>
    </div>

    <div class="img-container">


        <a href="https://github.com/GurpreetSingh30" target="_blank"><img class="filter" src="assets/img/github-logo.png"></a>
        <a href="https://www.linkedin.com/in/gurpreet-singh-b04920231/" target="_blank"><img src="assets/img/Link_logo.png"></a>
        <a href="https://www.xing.com/profile/Gurpreet_Singh137" target="_blank"><img src="assets/img/xxx.png"></a>


    </div>





</div>