<div id="about-container" class="main-container">
    <div class="about-me-container opacity">
        <div class="left-container foo">
            <img src="assets/img/myImg.jpeg">
        </div>
        <div class="right-container foo3">
            <h1>About me.</h1>
            <div class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, optio enim. Incidunt asperiores dolore hic eligendi libero labore eum consectetur dignissimos, quaerat, repellendus accusantium velit suscipit, est impedit minima facere!
            </div>
        </div>
    </div>

    <div class="about-sub opacity">

        <div class="sub-slot foo">
            <div class="icon">
                <img class="icon-img" src="assets/img/running-man.png">
            </div>
            <h2>
                MEINE REISE BEGANN
            </h2>


            <div class="text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed molestias dolores minima delectus, cupiditate, nulla sit vel unde laudantium corporis officia suscipit, perspiciatis aut obcaecati deleniti hic nisi libero! Corporis.
            </div>

        </div>

        <div class="sub-slot foo2">
            <div class="icon">
                <img class="icon-img" src="assets/img/running-man.png">
            </div>
            <h2>
                FOLGLICH WURDE <br>MIR KLAR
            </h2>

            <div class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis placeat perferendis velit tenetur eos mollitia fugiat ab numquam? Perferendis necessitatibus magni quod aperiam aliquam cupiditate modi sequi nesciunt nemo doloribus?
            </div>
        </div>
        <div class="sub-slot foo3">
            <div class="icon">
                <img class="icon-img" src="assets/img/running-man.png">
            </div>
            <h2>
                DIE DEVELOPER AKADEMIE
            </h2>


            <div class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt facere, voluptates temporibus vero nostrum dolor repellat eos cupiditate ratione necessitatibus laborum maxime saepe libero! Tempora, reprehenderit? Eveniet labore magnam iure.
            </div>
        </div>

        <div class="sub-slot foo4">
            <div class="icon">
                <img class="icon-img" src="assets/img/running-man.png">
            </div>
            <h2>
                DIE REISE GEHT<br> WEITER
            </h2>


            <div class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis cupiditate iusto expedita, a perspiciatis nostrum repellat quam enim tenetur nulla odit itaque maiores illo fugiat soluta voluptate dolore aliquam! Laboriosam.
            </div>
        </div>
    </div>

</div>