<div #home id="home" class="second-part">

    <img src="assets/img/gurpreet-singh.1024x1024.jpg">


    <div id="home" class="headline">


        <span class="span">Hallo,</span>
        <span class="span">Ich bin <span class="nameColor span"> Gurpreet</span> Singh</span>
        <ngtypewriter class="span" [StringList]='list' [speed]='1000'></ngtypewriter>
        <div class="button-container">
            <a href="#contact"><span>Kontaktiere mich</span></a>
        </div>
    </div>
</div>
<div class="down-arrow">
    <a href="#my-skills"><img src="assets/img/downArrow.png"></a>
</div>
<script src="particles.js"></script>