.protection-frame {
    color: black;
    padding-left: 220px;
    padding-right: 220px;
    background-color: gray;
    height: 100%;
    margin-top: 77px;
    padding-bottom: 1px;
    font-family: 'Roboto', sans-serif;
    .protection-container {
        padding-top: 100px;
    }
    a {
        color: white;
    }
}

@media (max-width:991px) {
    .protection-frame {
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        .protection-container {
            padding-top: 50px;
        }
    }
}