<div #mySkills id="my-skills" class="my-skills-container">

    <h1>Meine Skills</h1>
    <div class="language-container-top" data-aos="fade-up" data-aos-anchor-placement="center-bottom">


        <div class="language-container1">

            <div class="main-container">
                <div class="logo-one">
                    <div class="logo-one two">
                        <img class="logo" src="assets/img/javascript.png">
                    </div>
                </div>
            </div>
            <div class="text-container">
                <h3>Java Script</h3>
            </div>
        </div>

        <div class="language-container1">

            <div class="main-container">
                <div class="logo-one">
                    <div class="logo-one two">
                        <img class="logo" src="assets/img/angular.png">
                    </div>
                </div>
            </div>
            <div class="text-container">
                <h3>Angular</h3>
            </div>

        </div>
        <div class="language-container1">


            <div class="main-container">
                <div class="logo-one">
                    <div class="logo-one two">
                        <img class="logo" src="assets/img/htmlcss.png">

                    </div>
                </div>
            </div>
            <div class="text-container">
                <h3>HTML/CSS</h3>
            </div>
        </div>

    </div>


    <!----------------------2 Part-------------------->

    <div class="language-container-top" data-aos="fade-up" data-aos-anchor-placement="center-bottom">


        <div class="language-container1">

            <div class="main-container">
                <div class="logo-one">
                    <div class="logo-one two">
                        <img class="scrum-logo" src="assets/img/scrum (1).png">
                    </div>

                </div>
            </div>
            <div class="text-container">
                <h3>Scrum</h3>
            </div>

        </div>

        <div class="language-container1">

            <div class="main-container">
                <div class="logo-one">
                    <div class="logo-one two">
                        <img class="logo" src="assets/img/git.png">
                    </div>
                </div>
            </div>
            <div class="text-container">
                <h3>Git</h3>
            </div>

        </div>
        <div class="language-container1">

            <div class="main-container">
                <div class="logo-one">
                    <div class="logo-one two">
                        <img class="logo" src="assets/img/design.png">
                    </div>
                </div>
            </div>
            <div class="text-container">
                <h3>Design</h3>
                <h3>Thinking</h3>
            </div>

        </div>

    </div>

    <!----------------------3Part-------------------->

    <div class="language-container-top" data-aos="fade-up" data-aos-anchor-placement="center-bottom">


        <div class="language-container1">

            <div class="main-container">
                <div class="logo-one">
                    <div class="logo-one two">
                        <img class="logo" src="assets/img/api.png">
                    </div>
                </div>
            </div>
            <div class="text-container">
                <h3>Rest API</h3>
            </div>
        </div>

        <div class="language-container1">

            <div class="main-container">
                <div class="logo-one">
                    <div class="logo-one two">
                        <img class="logo" src="assets/img/testautomation.png">
                    </div>
                </div>
            </div>
            <div class="text-container">
                <h3>Test</h3>
                <h3>automation</h3>
            </div>



        </div>
        <div class="language-container1">


            <div class="main-container">
                <div class="logo-one">
                    <div class="logo-one two">
                        <img class="logo" src="assets/img/databases.png">
                    </div>

                </div>
            </div>
            <div class="text-container">
                <h3>Databases</h3>
            </div>
        </div>

    </div>
</div>