<div id="my-skills" class="my-skills-container">

    <h1>My Skills</h1>
    <div class="language-container-top">


        <div class="language-container1">

            <div class="main-container">
                <img class="logo" src="assets/img/java.jpg">
            </div>
            <h3>Java Script</h3>
        </div>

        <div class="language-container1">

            <div class="main-container">
                <img class="logo" src="assets/img/angularLogo.png">
            </div>
            <h3>Angular</h3>


        </div>
        <div class="language-container1">


            <div class="main-container">
                <img class="logo" src="assets/img/html.png">
            </div>
            <h3>HTML/CSS</h3>
        </div>

    </div>


    <!----------------------2 Part-------------------->

    <div class="language-container-top">


        <div class="language-container1">

            <div class="main-container">
                <img class="scrum-logo" src="assets/img/scrum.png">
            </div>
            <h3>Scrum</h3>


        </div>

        <div class="language-container1">

            <div class="main-container">
                <img class="logo" src="assets/img/git.png">
            </div>
            <h3>Git</h3>


        </div>
        <div class="language-container1">

            <div class="main-container">
                <img class="logo" src="assets/img/design.png">
            </div>

            <h3>Design</h3>
            <h3>Thinking</h3>


        </div>

    </div>

    <!----------------------3Part-------------------->

    <div class="language-container-top">


        <div class="language-container1">

            <div class="main-container">
                <img class="logo" src="assets/img/api.png">
            </div>
            <h3>Rest API</h3>
        </div>

        <div class="language-container1">

            <div class="main-container">
                <img class="logo" src="assets/img/angularLogo.png">
            </div>
            <h3>Test</h3>
            <h3>automation</h3>


        </div>
        <div class="language-container1">


            <div class="main-container">
                <img class="logo" src="assets/img/html.png">
            </div>
            <h3>Databases</h3>
        </div>

    </div>
</div>